---
---

@import "pygments";
@import "variables";

$header-background: $brand-primary;
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/////////////////////////////////////////////////
// Header Styles
/////////////////////////////////////////////////
header.site-header {
  color: white;
  background-color: $header-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  min-height: 240px;
  @media (min-width: $screen-sm-min) {
    min-height: 350px;
  }
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.4);
  h1 {
    font-size: $font-size-base*2;
    &.offset {
      margin-top: 48px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-base*4;
      &.offset {
        margin-top: 64px;
      }
    }
    font-weight: 600;
    a {
      display: inline-block;
      @include transition(0.15s all ease-in-out);
      text-decoration: none;
      -webkit-transform: translateZ(0px);
    }
    a:hover {
      text-decoration: none;
      @include scale(1.01);
    }
  }
  h2 {
    font-size: $font-size-base*4;
    font-weight: 300;
    color: inherit;
  }
  p {
    // font-weight: 300;
    color: white;
    font-size: 16px;
  }

  a, a:visited, a:hover {
    text-decoration: underline;
    color: inherit;
  }
  > .container {
    padding-top: 32px;
    padding-bottom: 32px;
    @media (min-width: $screen-md-min) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }
}

/////////////////////////////////////////////////
// Content Styles
/////////////////////////////////////////////////
.site-content {
  padding: 32px 0;
  background-color: #fff;
  position: relative;

  // Headings
  .site-main > {
    h1 {
      font-weight: 300;
      margin-top: 48px;
    }
    & h1:first-child {
      margin-top: 0;
    }

    h2 {
      margin-top: 48px;
    }

    h3 {
      margin-top: 0;
      margin-right: 5px;
      margin-bottom: 0px;
    }
  }


  // paragraphs
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      @extend .img-responsive;
      margin: 0 auto;
      border: 1px solid $brand-primary;
      border-radius: 5px;
    }
  }

  //pagination
  .site-paging {
    margin-top: 32px;
  }

  img {
    @include img-responsive;
  }
}


.site-sidebar {
  .list-group.toc {
    .list-group-item {
      padding-left: 40px;
    }

    & > .list-group-item {
      padding-left: 15px;
      // @extend strong;
    }

    .list-group-item:last-child {
      margin-bottom: -1px;
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    .list-group-item:first-child {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
    }

    & > div:last-child a.list-group-item:last-child,
    & > a.list-group-item:last-child {
      @extend .list-group-item:last-child;
    }

    & > div:first-child a.list-group-item:first-child,
    & > a.list-group-item:first-child {
      @extend .list-group-item:first-child;
    }
    .toc-group {
      font-size: 0.85*$font-size-base;
    }
  }

  .btn-collapse {
    @extend .visible-xs;
    @extend .visible-sm;
    padding: 9px 10px;
    @include navbar-vertical-align(34px);
    background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    border-radius: $border-radius-base;
    margin: 8px auto;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $navbar-default-toggle-icon-bar-bg;
  }

  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

/////////////////////////////////////////////////
// Sticky Footer Styles
/////////////////////////////////////////////////
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background: darken(white, 10%);
  border-top: 1px solid darken(white, 15%);
  .container {
    margin-top: 30px;
  }
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px + 60px; //::after is 12px high
}
