<!DOCTYPE html>
<html>

  {% include head.html %}

	<body>

	{% include header.html %}

	<div class="site-content">
		<div class="container">
			<div class="row">
				<div class="site-sidebar col-md-3">
					<button type="button" class="btn btn-collapse" data-toggle="collapse" data-target="#toc">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{% toc %}
				</div>
				<div class="site-main col-md-9">
					{{ content }}
					{% for chapter in site.sorted_chapters %}
						{% if chapter.url == page.url %}
							{% assign next = site.sorted_chapters[forloop.index] %}
						{% endif %}
					{% endfor %}
					{% if next.url %}
						<div class="site-paging row">
							<div class="col-xs-12">
								<a class="btn btn-primary btn-lg center-block" href="{{next.url}}">Next: {{next.subtitle}} &raquo;</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% include footer.html %}
	<script src="//use.edgefonts.net/open-sans:n3,i3,n4,i4,n6,i6,n7,i7,n8,i8.js"></script>
	<script src="{{ site.baseurl }}/js/scripts.js"></script>
	</body>
</html>