---
layout: default
---

<h1>Week {{page.index}}: {{page.subtitle}}</h1>
<p><em>Lab date: {{page.date}}</em></p>

<h2>Overview</h2>
{{page.overview | markdownify}}

<h2>Due</h2>
{{page.due | markdownify}}

<h2>Reading</h2>
{{page.reading | markdownify}}

{{ content }}

<h2 id="assignment">This Week's Assignment</h2>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{page.assignment.title}}</h3>
  </div>
  <div class="panel-body">
    <p>{{page.assignment.summary | markdownify}}</p>
    <h3>Requirements:</h3>
    <ul>
    	{% for req in page.assignment.requirements %}
    	<li>{{req | markdownify}}</li>
    	{% endfor %}
    </ul>
    <h3>Due Date:</h3>
      <p>{{page.assignment.due | markdownify}}</p>
    </div>
    <div class="panel-footer">
      <p>Git tag to use for this assignment: <code>{{page.assignment.tag}}</code></p>
    </div>
  </div>
</p>